@use './abstracts/' as *;

/* Media Queries
-------------------------------------------------------------- */

  @media only screen and (max-width: 1600px) {
    .flat-about.home2 .mark-a {
      font-size: 300px;
      text-align: center;
    }
  }

  @media only screen and (max-width: 1366px) {
    .flat-about.home2 .mark-a {
      font-size: 275px;
      text-align: center;
    }
  }

  @media only screen and (max-width: 1199px) {
    #top-bar::before {
      display: none;
    }

    .flat-practice-details,
    .blog-details {
      .post {
          padding: 0 100px;
      }
    }

    .flat-about {
      .image-wrapper .image-1 {
        width: 30.5%;
      }
      .image-wrapper .image-2 {
        width: 70%;
      }
    }

    .flat-case-details .post .img-box2 img{
      width: 48%;
    }

    .flat-about.page .image-wrapper .image-1 {
      width: 100%;
    }
    .flat-about.home2 .progress-box2,
    .flat-about.home2 .progress-box1 {
      margin-right: 40px;
      margin-left: 0;
    }

    .flat-testimonials .testimonial-post h1 {
      font-size: 172px;
    }

    .flat-contact-faq .wrap-faq {
      padding: 0;
    }

    .flat-about.home2 .mark-a {
      right: 7%;
    }

    .flat-about.home2 .image-wrapper .image-1 {
      width: 100%;
    }

    .flat-success .wrap-image {
      padding: 0;
      .box-img {
        margin-right: 15px;
        .image-1 {
          padding-left: 40px;
          margin-bottom: 15px;
        }
      }
      .image-3 {
        width: 45%;
        margin-left: 0px;
        margin-top:60px;
      }
    }
    
  }
  
  @media only screen and (max-width: 991px) {
  
    .mobile-button {
      display: block !important;
    }

    .swiper-pagination2,
    .swiper-button-prev,
    .swiper-button-next,
    .icon-top,
    .flat-button-top {
      display: none;
    }

    .flat-practice-details .post,
    .blog-details .post {
      padding: 0px;
    }

    .flat-best-attorneys.page2.style,
    .flat-blog.home {
      padding-bottom: 70px;
    }

    .flat-best-attorneys.page2,
    .flat-brand {
      padding-bottom: 100px;
    }
    
    .overlay {
      background: linear-gradient(72.76deg, rgba(35, 38, 41, 0.9) 35.67%, rgba(39, 43, 46, 0) 100.03%);
    }
    
    .flat-testimonials.home3,
    .flat-about.home2,
    #footer,
    .tf-section2,
    .tf-section {
      padding: 100px 0;
    }

    .heading-section {
      margin-bottom: 105px;
    }

    .flat-faq-page,
    .flat-icon-practice2.home3,
    .flat-icon-practice {
      padding-bottom: 70px;
    }

    .slider .slider-item {
      padding: 160px 0 170px;
    }

    .slider.home2 .slider-item {
      padding: 270px 0 250px;
    }

    .slider.home3 .slider-item {
      padding: 230px 0 130px;
    }

    .blog-box {
      .content {
        margin-bottom: 40px;
        h3 {
          margin-bottom: 25px;
        }
      }
    }

    .widget-logo {
      margin-bottom: 40px;
      p {
        margin-bottom: 25px;
      }
    }

    .widget-subcribe.subcribe.home,
    .widget-subcribe.subcribe {
      margin: 0;
    }

    .flat-blog-details .post .img-box .img-blog {
      margin-right: 0;
      img {
        width: 95%;
      }
    }

    .side-bar {
      margin-top: 80px;
      .widget .recent-news li {
        padding-bottom: 25px;
        .texts {
          margin-top: 6px;
        }
      }
      .widget.style2 {
        padding: 48px 50px 48px 49px;
      }
    }

    .flat-about {
      padding-bottom: 90px;
      .about-box {
        padding: 0;
        h4 {
          padding-bottom: 25px;
          margin-bottom: 30px;
        }
        p {
          padding: 0;
          margin-bottom: 30px;
        }
      }
      .image-wrapper .image-1 {
        width: 30%;
      }
      .image-wrapper .image-2 {
        width: 69%;
      }
    }

    .col-mobi,
    .flat-about .mark-a {
      display: none;
    }

    .flat-button-top.home3 {
      display: unset;
      right: unset;
      left: 0;
    }

    .mobile-button.home3 {
      right: 15px;
    }
    
    .style3 #main-nav-mobi {
      top: 126%;
    }

    .box-phone {
      padding-left: 0;
    }

    .flat-testimonials {
      padding-top: 85px;
      .testimonial-post {
        .texts {
          padding: 0;
        }
        h1 {
          font-size: 130px;
        }
      }
    }

    .flat-video {
      padding: 90px 0 200px;
      h1 {
        margin-bottom: 40px;
      }
    }

    .flat-practice.home2 .wrap-practice {
      display: unset;
      .practice-box {
        width: calc(100% - 0px);
        border-bottom: 1px solid #FFFFFF12;
        background: rgba(35, 38, 41, 1);
        padding: 25px 28px;
      }
    }
 
    .flat-about.home2 {
      .image-wrapper img {
        width: 100%;
      }
      .about-box {
        padding: 0;
        p {
          margin-bottom: 45px;
          padding-right: 0;
        }
        h4 {
          line-height: 26px;
          margin-bottom: 14px;
        }
        h2 {
          margin-bottom: 26px;
        }
      }
      .content h3 {
        text-align: center;
      }
    }

    .flat-icon-practice2 .heading-section {
      margin-right: 0;
    }

    .flat-best-attorneys {
      padding-bottom: 72px;
      .heading-section.home2 {
        margin-bottom: 50px !important;
        p {
          margin-bottom: 30px !important;
        }
      }
      .wrapper-best .content {
        padding: 24px 0 25px;
      }
    }

    .flat-testimonials.page,
    .flat-best-attorneys.home3 {
      padding-bottom: 100px ;
    }

    .heading-section2 {
      margin-bottom: 42px;
    }

    .flat-contact-faq {
      background: #f6f6f6;
      .wrap-contact {
        margin-bottom: 60px;
        padding: 0;
      }
    }
    
    #comments .comment-form .text-call {
      margin-bottom: 40px;
    }

    .flat-success {
      padding-bottom: 80px;
      .mark-c {
        left: 0;
        font-size: 400px;
        line-height: 290px;
      }
      .wrap-image .image-3 {
        width: 35%;
      }
      .wrap-success {
        padding-top: 0;
        h2 {
          padding: 0;
        }
        .wrap-ordinal .box-ordinal {
          width: 100%;
        }
      }
    }
   
    .flat-counter {
      padding-bottom: 100px;
    }
    
    .flat-best-awards {
      padding-bottom: 0;
      .heading-section.style-sc {
        margin-bottom: 40px;
      }
    }

    .flat-success.home3 {
      padding-bottom: 90px;
    }

    .flat-blog.home3 {
      padding-top: 100px;
    }

    .flat-faq.flat-contact-faq {
      background: unset;
    }

    .flat-contact .wrap-contact {
      padding-right: 0;
      .heading-section2 {
        padding-bottom: 40px;
        margin-bottom: 50px;
      }
    }

    .flat-practice.page {
      padding-bottom: 70px;
      .practice-box {
        margin-bottom: 24px;
      }
    }

    .flat-practice-details .post .flat-best-attorneys.page {
      padding: 0 0 21px;
    }

    .flat-practice-details.practice-sidebar {
      padding-top: 90px;
    }

    .side-bar .flat-icon-practice {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .wrapper-icon {
        width: 49%;
      }
    }

    .side-bar .widget.style-4.home {
      padding: 45px 30px 50px;
    }

    .flat-attorneys-information {
      padding-bottom: 30px;
      .img-information img {
        width: 100%;
      }
      .wrap-information {
        padding-top: 0;
        .title-information {
          margin-bottom: 25px;
        }
        .box-information {
          margin-bottom: 40px;
          .inner-1 {
            width: 62.6%;
          }
        }
        .wrap-phone {
          display: block;
          h2 {
            margin: 0;
          }
        }
      }
    }

    .flat-attorneys-details {
      padding-bottom: 100px;
      .side-bar {
        padding-top: 0px;
      }
    }

    .flat-case-details {
      padding-bottom: 90px;
    }

    .flat-testimonials.home3.page-testi {
      padding-bottom: 60px;
      .testimonial-post {
        margin-bottom: 40px;
        .content .text-testi {
          margin-bottom: 30px;
        }
      }
    }

    .flat-faq-page .flat-practice-details.practice-sidebar {
      padding: 0;
    }
    .flat-contact-page #comments .comment-form .text-call {
      padding-right: 0;
    }

    .tf-map {
      .map-content {
          height: 750px;
      }
    }
    .flat-contact-page {
      padding-top: 90px;
    }

    .header_1 {
      &.is-fixed {
        .box-menu {
          margin-bottom: 0;
        }
        #main-nav-mobi {
          top: unset;
        }
      }
    }

  }

  @media only screen and (max-width: 767px) {

    .flat-about.home2,
    #footer,
    .tf-section2,
    .tf-section {
      padding: 80px 0;
    }
  
    .flat-success.home3,
    .flat-practice {
      padding-bottom: 70px;
    }

    .flat-blog.home3 {
      padding-top: 80px;
    }

    .themesflat-pagination {
      padding-top: 13px;
    }

    .widget-logo {
      padding-right: 0;
      margin-bottom: 30px;
    }

    .widget.style-4 {
      padding-top: 30px;
      padding-bottom: 15px;
    }
    .widget-subcribe .form-subcribe button {
      position: relative;
      width: 100%;
      top:1px;
      right: 0;
    }

    #top-bar {
      padding: 20px 0;
      height: unset;
      .inner {
        text-align: center;
        display: block;
        .top-bar-right {
          display: block;
        }
        .top-bar-left {
          margin-bottom: 8px;
          h5 {
            line-height: 21px;
          }
        }
      }
    }

    .swiper-pagination {
      display: none;
    } 
    
    .page-title-heading .heading {
      font-size: 45px;
      line-height: 55px;
    }

    .flat-blog-details {
      .img-one {
        margin-bottom: 30px;
      }
      .post {
        h2 {
          margin-bottom: 25px;
        }
        .post-image {
          margin-bottom: 30px;
          .title-author {
              margin-bottom: 10px;
          }
          .thumb {
              padding-left: 15px;
              width: 20%;
              text-align: end;
          }
          .box-title {
              width: 80%;
              padding: 0 15px;
          }
        }
        .img-box {
          margin-bottom: 30px;
          display: block;
          .img-blog {
            margin-bottom: 30px;
            img {
              width: 100%;
            }
          }
          ul li h4 {
            line-height: 23px;
          }
        }
        .mb-38,
        .video-blog {
          margin-bottom: 35px;
        }
        .text-2 {
          margin-bottom: 35px;
        }
  
        .text {
          margin-bottom: 35px;
        }
        .infor-row {
          margin-bottom: 40px;
        }
        .infor-row .tags .title-tag {
          margin-right: 15px;
          line-height: 18px;
        }
      }
    }

    #comments .comment-list .comment-01 {
      padding-bottom: 15px;
      margin-bottom: 35px;
    }

    #comments .comment-list .comment-01:last-child {
      padding-bottom: 20px;
    }
  
    #comments .comment-list .comment-content {
      width: 80%;
      padding-left: 15px;
    }
  
    #comments .comment-list .comment-avatar {
      width: 20%;
    }
  
    #comments .comment-list .comment-content .comment-text {
      padding-bottom: 15px;
    }

    #comments .comment-form fieldset,
    #comments .title-comment2,
    #comments .title-comment {
      margin-bottom: 15px;
    }
    #comments .comment-form .style-text.style-text3,
    #comments .comment-form .style-text.style-text2,
    #comments .comment-form .style-text {
      float: unset;
      width: 100%;
    }
    .flat-top-seller.home3 .style-container {
      padding: 0;
      background: unset;
      border: unset;
    }

    #comments .comment-form .text-call,
    #comments .comment-form .phone-wrap,
    #comments .comment-form .name-wrap,
    #comments .comment-form .email-wrap, 
    #comments .comment-form .site-wrap {
      padding: 0;
    }

    #comments .comment-form .text-call {
      margin-bottom: 40px;
    }

    #comments .comment-form .button {
      text-align: center;
    }
  
    .side-bar .widget.style,
    .side-bar .widget {
      padding: 50px 15px;
    }
    .side-bar .widget.style4,
    .side-bar .widget.style3,
    .side-bar .widget.style2 {
      padding: 50px 15px 45px;
    }

    .side-bar {
      margin-top: 60px;
    }

    .slider .slider-item {
      padding: 100px 0;
      .content {
        padding: 0;
      }
      h1 {
        font-size: 66px;
        line-height: 78px;
      }
    }

    .slider.home2 .slider-item {
      padding: 210px 0 160px;
      .content {
        padding: 0;
        .button-1 {
          margin-bottom: 10px;
        }
      }
    }

    .slider.home3 .slider-item {
      padding: 180px 0 110px;
      .content {
        padding: 0;
      }
    }

    .flat-about {
      padding-bottom: 70px;
      .image-wrapper {
        margin-bottom: 20px;
        .image-1 {
          width: 29.7%;
        }
        .image-2 {
          width: 68.1%;
        }
      }
    }

    .flat-icon-practice {
      padding-bottom: 50px;
      .wrapper-icon {
        .box-icon {
          width: 29%;
        }
        .content {
          width: 71%;
          i {
            margin-left: 6px;
          }
        }
      }
    }

    .flat-testimonials {
      padding-top: 75px;
      .testimonial-post h1 {
        font-size: 58px;
      }
    }

    .flat-testimonials.page {
      padding: 75px 0 80px;
    }

    .flat-testimonials.home3 {
      padding: 80px 0px ;
    }

    .flat-video {
      padding-bottom: 185px;
      h1 {
        font-size: 56px;
        line-height: 70px;
      }
    }

    .flat-blog.home {
      padding-bottom: 50px;
    }

    .flat-brand {
      padding-bottom: 55px;
      .brand-slider {
        padding-top: 50px;
      }
    }

    .widget.style-4.home {
      padding: 30px 15px 30px;
      margin-top: 30px;
      margin-bottom: 35px;
    }

    .flat-practice.home2 {
      margin-top: -50px;
      .wrap-practice .practice-box {
        padding: 25px 15px;
      }
  
    }

    .flat-about.home2 .progress-box2,
    .flat-about.home2 .progress-box1 {
      margin-bottom: 25px;
    }

    .flat-icon-practice2 .wrapper-icon {
      padding-top: 40px;
      .box-icon {
        margin-bottom: 33px;
      }
    }

    .flat-best-attorneys {
      padding-bottom: 50px !important;
      .wrapper-best .content {
        padding: 22px 0 25px;
      }
    }

    .flat-contact-faq .flat-accordion .flat-toggle .toggle-title {
      padding: 14px 27px 14px 20px;
      line-height: 22px;
    }

    .flat-contact-faq .flat-accordion .flat-toggle .toggle-content {
      padding: 20px 15px 18px 20px;
    }

    .flat-success {
      padding-bottom: 60px;
      .wrap-image {
        margin-bottom: 30px;
        .box-img {
          .image-2,
          .image-1 {
            width: 100%;
          }
        }
        .image-3 {
          margin-top: auto;
          width: 39%;
        }
      }
      .wrap-success h5 {
        margin-bottom: 10px;
      }
      .mark-c {
        display: none;
      }
    }

    .flat-counter {
      padding-bottom: 80px;
      .counter-box {
        padding-bottom: 30px;
        &.style-mobi {
          padding-bottom: 50px;
        }
      }
    }

    .flat-best-awards {
      padding-bottom: 0px;
      .wrap-awards {
        flex-wrap: wrap;
        justify-content: center;
        .box-awards {
          margin-right: 15px;
          margin-left: 15px;
          margin-bottom: 30px;
          &:last-child {
            margin-right: unset; 
          }
        }
      }
      .row-boder {
        padding-bottom: 23px;
      }
    }
   
    .flat-best-awards.page,
    .flat-icon-practice2.home3 {
      padding-bottom: 50px;
    }

    .flat-best-attorneys.page,
    .flat-best-attorneys.home3 {
      padding-bottom: 80px !important;
      .button-best {
        margin-top: 15px;
      }
    }

    .flat-faq.flat-contact-faq {
      img {
        margin-bottom: 30px;
        width: 100%;
      }
    }

    .flat-contact .wrap-contact .box-title {
      padding-left: 0px;
      margin-bottom: 50px;
    }

    .col-mobi2 {
      display: none;
    }

    #site-logo-inner.style3 {
      left: 50%;
      transform: translate(-50%,-50% );
    }

    .flat-practice.page {
      padding:0 0 50px;
    }

    .flat-practice-details {
      .post {
        .practice-box {
          margin-bottom: 20px;
        }
        .text-box {
          margin-bottom: 35px;
        }
        .text-2,
        .text-one {
          margin-bottom: 30px;
        }
        .flat-best-attorneys.page {
          padding-bottom: 20px !important;
        }
      }
    }

    .side-bar .flat-icon-practice {
      display: unset;
      .wrapper-icon {
        width: 100%;
        .box-icon {
          width: 29%;
        }
        .content {
          width: 71%;
        }
      }
    }

    .flat-practice-details.practice-sidebar .post .text-02,
    .flat-practice-details.practice-sidebar .post .img-sidebar,
    .flat-practice-details.practice-sidebar .post .text-box {
      margin-bottom: 35px;
    }

    .flat-practice-details.practice-sidebar {
      padding-top: 65px;
    }

    .flat-best-attorneys.page2.style {
      padding-bottom: 50px !important;
    }

    .flat-best-attorneys.page2 .row-boder {
      padding-bottom: 15px;
    }

    .flat-attorneys-information {
      padding-bottom: 45px;
      .img-information {
        margin-bottom: 30px;
      }
      .wrap-information {
        padding-top: 0;
        .title-information {
          margin-bottom: 20px;
        }
        .box-information {
          margin-bottom: 30px;
        }
  
      }
    }

    .flat-attorneys-details {
      .post {
        .wrap-progress {
          margin-bottom: 40px;
        }
        .tf-check .wrap-check.style2 {
          width: unset;
          margin-bottom: 25px;
        }
      }
      .side-bar {
        .widget.widget2,
        .widget {
          padding: 46px 15px 38px 15px;
        }
        .widget.widget3 {
          padding: 46px 15px 45px 15px;
        }
      }
    }

    .flat-case-details {
      .post {
        .img-sidebar {
          margin-bottom: 30px;
        }
        .title-case {
          margin-bottom: 25px;
        }
        .img-box2 {
          display: block;
          margin-bottom: 35px;
          img {
            width: unset;
          }
          .img-1 {
            margin-bottom: 20px;
          }
        }
        .text-2.style-text {
          margin-bottom: 28px;
        }
      }
      .side-bar .widget {
        padding: 46px 15px 35px ;
        margin-bottom: 40px;
      }
    }

    .flat-testimonials.home3.page-testi {
      padding-bottom: 40px;
      .testimonial-post {
        margin-bottom: 45px;
        .content .text-testi {
          margin-bottom: 24px;
        }
      }
    }

    .flat-faq-page {
      padding-bottom: 50px;
      .post {
        .flat-faq .wrap-faq {
          margin-bottom: 35px;
        }
        .text-2 {
          margin-bottom: 33px;
        }
      }
      .side-bar {
        .widget.style-4.home {
          padding: 45px 15px 50px !important;
        }
      } 
    }

    .tf-map .wrap-map {
      padding: 45px 15px 35px;
      margin-top: 15px;
      h3 {
        margin-bottom: 32px;
      }
    }

    .flat-contact-page {
      padding-top: 70px;
      .text {
        margin-bottom: 35px;
      }
    }

    .flat-title-page.inner {
      padding: 151px 0 160px;
    }

    .fancybox-slide--iframe .fancybox-content {
      width: 95%;
      height: 95%;
      max-width: calc(100% - 50px);
      max-height: calc(100% - 90px);
    }

    .flat-contact .wrap-contact .box-title h1 {
      font-size: 52px;
    }


  }

  @media (max-width: 767px) and (min-width: 378px) {
    .widget .recent-news li .texts {
      margin-top: 12px;
    }
  }

  @media only screen and (max-width: 430px) {
    .flat-about.home2 .progress-box2 {
      margin-right: 0;
    }
    .flat-about.home2 .wrap-progress {
      flex-wrap: wrap;
      justify-content: center;
    }
    

  }
  
  @media only screen and (max-width: 360px) {
    .themesflat-pagination ul li {
      margin-right: 5px;
      .page-numbers {
        width: 40px;
        &.style {
          width: 55px;
        }
      }
    }
    
  }
  @media only screen and (max-width: 330px) {
    .flat-blog-details .post .infor-row .tags a {
      padding: 15px 15px 13px;
    }
    .widget .recent-news li .thumb {
      margin: 3px 10px 20px 0px;
    }
    .flat-contact .wrap-contact .box-title h1 {
      font-size: 46px;
    }
  
  }

  @media only screen and (max-width: 310px) {
    .flat-testimonials .testimonial-post h1 {
      font-size: 50px;
    }
    .flat-about.home2 .progress-box3,
    .flat-about.home2 .progress-box2,
    .flat-about.home2 .progress-box1 {
      margin-left: 20px;
      margin-right: 20px;
    }
    
  }
  