@use './abstracts/' as *;

/* Media Queries
-------------------------------------------------------------- */

  @media only screen and (max-width: 1650px) {
    .flat-process {
      .wrap-process {
        .bg-process {
          margin-top: -206px;
          margin-left: -200px;
        }
        .box-process {
          margin-left: 90px;
          margin-right: -2%;
        }
      }
    }
  }

  @media only screen and (max-width: 1440px) {
    .flat-process {
      .heading-section p {
        padding-right: 0px;
      }
      .wrap-process {
        .bg-process {
          margin-top: -206px;
          margin-left: -22%;
        }
        .box-process {
          margin-left: 0px;
          margin-right: -1%;
          .process.style-1 {
            margin-top: -60px;
          }
        }
      }
    }

  .flat-contact .wrap-contact {
    padding: 85px 15px 78px 0px;
  }

  .widget-menu.style-2 {
    padding-right: 40px;
  }


  }

  @media only screen and (max-width: 1199px) {

    .header_1 #main-nav {
      position: absolute;
      left: 23.65%;
    }
    .flat-blog-details .post {
      padding: 64px 40px 80px;
    }
    .flat-blog-details .post .button-pagination .inner {
      &.inner-1 {
        padding-right: 10px;
      }
      &.inner-2 {
        padding-left: 10px;
      }
    }

    .flat-about .wrap-about .heading {
      width: 31.95%;
      padding-top: 15px;
      padding-right: 30px;
    }

    .widget-logo p {
      padding: 0;
    }
    
    .widget-social-footer .wrap-list {
      padding-left: 0px;
    }

    
  }
  
  @media only screen and (max-width: 991px) {
  
    .mobile-button {
      display: block !important;
    }

    .swiper-pagination2,
    .swiper-button-prev,
    .swiper-button-next,
    .icon-top,
    .flat-button-top {
      display: none;
    }

    .tf-section2,
    .tf-section {
      padding: 90px 0;
    }

    .flat-service {
      padding-bottom: 60px;
    }

    // .heading-section {
    //   margin-bottom: 105px;
    // }

    .flat-blog {
      padding-bottom: 70px;
    }

    .flat-title-page.inner {
      padding: 30px 0px 60px 1px;
    }

    #footer {
      padding: 70px 0 50px;
      .widget-logo {
        padding-right: 0px;
      }
      .widget-menu.style-2 {
        padding-top: 13px;
        padding-left: 0px;
        padding-right: 0px;
      }
      .widget-menu.style-3 {
        padding-left: 0;
        p {
          padding-right: 0;
        }
      }
      .widget-subcribe .form-subcribe input {
        padding: 15px 50px 15px 15px;
        &::placeholder {
          font-size: 14px;
          max-width: 95%;
        }
      }
    }

    .widget-social-footer {
      padding: 35px 0 40px;
      .title-bottom {
        margin-bottom: 15px;
        text-align: center;
      }
      .wrap-list {
        padding-top: 2px;
        text-align: center;
        margin-bottom: 20px;
        ul {
          justify-content: center;
          li {
           &:last-child {
            margin-right: 0;
           }
          }
        }
      }
      .icon-bottom {
        text-align: center;
        margin: 0;
      }
    }

    .image-details {
      height: 600px;
    }
    .flat-blog-details .post {
      padding: 70px 0px 70px;
      .button-pagination .inner.inner-2 {
        padding-left: 0px;
      }
    }

    .flat-service .service-box {
      margin-bottom: 30px;
    }

    .side-bar {
      margin-top: 80px;
      .widget .recent-news li {
        padding-bottom: 25px;
        .texts {
          margin-top: 6px;
        }
      }
      .widget.style2 {
        padding: 48px 50px 48px 49px;
      }
    }
    
    #comments .comment-form .text-call {
      margin-bottom: 40px;
    }

    .header_1 {
      &.is-fixed {
        .box-menu {
          margin-bottom: 0;
        }
        #main-nav-mobi {
          top: unset;
        }
      }
    }

    .flat-testimonial {
      .heading-section {
        padding: 0px;
        margin-bottom: 110px;
      }
      .wrap-testimonial {
          margin-bottom: 80px;
      }
    }

    .flat-about {
      .wrap-about {
        .heading {
          width: 43%;
          padding-top: 0px;
          padding-right: 20px;
          .heading-section {
            margin-bottom: 40px;
          }
        }
        .image {
          width: 35%;
        }
        .thems-counter {
          padding-top: 0px;
          padding-left: 20px;
          width: 27%;
          .counter-box {
            margin-bottom: 30px;
            .number {
              margin-bottom: 17px;
            }
          }
        }
      }
    }

    .flat-tabs .box-tab {
      display: block;
      h2 {
        margin-bottom: 15px;
      }
    }

    .flat-portflio .wrap-portflio .box-portflio .post {
      padding: 0 10px;
      &:hover {
        transform: translateY(-115%);
      }
    }

    .flat-process {
      .wrap-process {
        .box-process {
          margin-right: 0;
          .process {
            width: calc(33.33333% - 30px) !important;
            &.style-1 {
              margin-top: 0;
            }
            &.style-2 {
              margin-left: 15px;
              margin-top: 0;
            }
            &.style-3 {
              margin-left: 15px;
              margin-top: 0;
              p {
                padding-right: 0;
              }
            }
          }
        }
        .bg-process {
          display: none;
        }
      }
      .sc-btn-process {
        margin-bottom: 50px;
      }
    }

    .flat-development {
      padding-bottom: 60px;
      .heading-section {
        margin-bottom: 50px;
      }
    }

    .flat-faq .wrap-faq {
      padding: 0;
    }

    .flat-skill {
      padding-bottom: 46px;
      .wrap-skill {
        margin-left: -50px;
        .wrap-progress {
          width: calc(50% - 50px);
          margin-left: 50px;
        }
      }
    }

    .flat-testimonial {
      padding-bottom: 10px;
    }

    .flat-blog-post {
      padding-bottom: 70px;
      .wrap-post .content {
        padding: 0px 15px 27px;
      }
    }

    .flat-brand {
      padding: 0px 0 70px;
    }

    .flat-contact {
      .image {
        background-position-x: -140px;
      }
      .wrap-contact {
        padding: 80px 15px 80px 0px;
      }
    }
    
  }

  @media only screen and (max-width: 767px) {

    .tf-section2,
    .tf-section {
      padding: 75px 0;
    }
  
    .flat-success.home3,
    .flat-practice {
      padding-bottom: 70px;
    }

    .themesflat-pagination {
      padding-top: 5px;
    }

    .flat-title-page.inner {
      padding: 30px 0px 70px 1px;
    }

    #footer {
      padding-bottom: 70px;
      .widget-logo p {
        margin-bottom: 40px;
      }
      .widget-menu.style-2 {
        padding-top: 0px;
        margin-bottom: 23px;
      }
    }

    .widget-social-footer ul {
      flex-wrap: wrap;
      justify-content: center;
      li {
        margin-left: 10px;
        margin-right: 10px;
        a {
          line-height: 26px;
        }
      }
    }

    .image-details {
      height: 400px;
    }

    #top-bar {
      padding: 20px 0;
      height: unset;
      .inner {
        text-align: center;
        display: block;
        .top-bar-right {
          display: block;
        }
        .top-bar-left {
          margin-bottom: 8px;
          h5 {
            line-height: 21px;
          }
        }
      }
    }

    .swiper-pagination {
      display: none;
    } 

    .flat-blog-details {
      .post {
        .box-item {
          display: block;
          .tags {
            margin-bottom: 20px;
          }
        }
      }
    }
  
    .side-bar .widget.style,
    .side-bar .widget {
      padding: 50px 15px;
    }

    .side-bar .widget.style4,
    .side-bar .widget.style3,
    .side-bar .widget.style2 {
      padding: 50px 15px 45px;
    }

    .side-bar {
      margin-top: 60px;
    }

    #site-logo-inner.style3 {
      left: 50%;
      transform: translate(-50%,-50% );
    }

    .fancybox-slide--iframe .fancybox-content {
      width: 95%;
      height: 95%;
      max-width: calc(100% - 50px);
      max-height: calc(100% - 90px);
    }

    .heading-section {
      margin-bottom: 40px;
    }

    .flat-about {
      .wrap-about {
        display: block;
        .heading {
          width: 100%;
          margin-bottom: 50px;
          .heading-section {
            margin-bottom: 30px;
          }
        }
        .image {
          width: 100%;
          margin-bottom: 45px;
          img {
            width: 100%;
          }
        }
        .thems-counter {
          width: 100%;
          text-align: center;
          .count-number {
            justify-content: center;
          }
        }
      }
    }

    .flat-tabs .tab-title {
      flex-wrap: wrap;
      // justify-content: center;
      li {
        margin-bottom: 3px;
        padding-bottom: 0;
      }
    }

    .flat-portflio .wrap-portflio {
      display: block;
      margin-left: 0;
      .box-portflio {
        width: 100%;
        margin-left: 0;
        margin-bottom: 30px;
        .post {
          padding: 0 15px;
        }
      }
    }

    .flat-process {
      padding-bottom: 33px;
      .wrap-process {
        .box-process {
          display: block;
          
          .process {
            width: 100% !important;
            margin-bottom: 45px;
            &.style-3,
            &.style-2 {
              margin-left: 0;
            }
            .icon-user {
              margin-bottom: 35px;
            }
          }
        }
      }
    }

    .flat-service {
      padding-bottom: 45px;
    }

    .flat-development {
      padding-bottom: 45px;
      .heading-section {
        margin-bottom: 40px;
      }
      .wrap-development {
        padding: 40px 30px;
      }
    }

    .flat-skill {
      padding-bottom: 32px;
      .wrap-skill {
        display: block;
        margin-left: 0;
        .wrap-progress {
          width: 100%;
          margin-left: 0px;
        } 
      } 
    }

    .flat-testimonial {
      padding-bottom: 0;
      .wrap-testimonial {
        margin-bottom: 75px;
      }
    }

    .flat-blog-post {
      padding-bottom: 40px;
      .wrap-post {
        margin-bottom: 30px;
      }
    }

    .flat-contact {
      .image {
        display: none;
      }
      .wrap-contact {
        padding: 75px 15px 75px 15px;
      }
    }

  }

  @media only screen and (max-width: 330px) {
    .flat-blog-details .post .infor-row .tags a {
      padding: 15px 15px 13px;
    }
    .widget .recent-news li .thumb {
      margin: 3px 10px 20px 0px;
    }
    .flat-contact .wrap-contact .box-title h1 {
      font-size: 46px;
    }
  
  }

  @media only screen and (max-width: 310px) {
    .flat-testimonials .testimonial-post h1 {
      font-size: 50px;
    }
    .flat-about.home2 .progress-box3,
    .flat-about.home2 .progress-box2,
    .flat-about.home2 .progress-box1 {
      margin-left: 20px;
      margin-right: 20px;
    }
    
  }
  